.mobile-menu
    .mobile-menu__burger.burger
        .burger__item.burger__item_top
        .burger__item.burger__item_middle
        .burger__item.burger__item__bottom
    ul.mobile-menu__items
        li.mobile-menu__item
            a(href="#") Home
        li.mobile-menu__item
            a(href="#") About us
        li.mobile-menu__item
            a(href="#") Shop
        li.mobile-menu__item
            a(href="#") Portfolio
        li.mobile-menu__item
            a(href="#") Blog
        li.mobile-menu__item
            a(href="#") Contact