/* Colors variables */
$white: #fff;
$black: #000;
$black2: #0f0f0f;
$black3: #010101;
$dark-grey: #1c1c1c;
$dark-grey2: #252525;
$violet-light: #4e26fd;
$blue: #0000ff;
$light-gray:  #dddddd;
/* ! Colors variables */

/* Base font size */
$base-font-size: 16px !default;
/* ! Base font size */

$container: 1140px;

$base-font: 'BebasNeue';

/* breakpoints */
$screen-sm: 577px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-s-max: 576px;
$sceren-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
/* ! breakpoints */