section.activities
    .activities__body
        .activities__title
            +section-title('Winter activities', true)
        .activities__items
            .activities__item.activities__item_img-1
                .activities__text-wrapper
                    .activities__item-title Skiing
                    .activities__item-desc We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.
            .activities__item.activities__item_img-2
                .activities__text-wrapper
                    .activities__item-title boarding
                    .activities__item-desc We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.
            .activities__item.activities__item_img-3
                .activities__text-wrapper
                    .activities__item-title Cycling
                    .activities__item-desc We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.
            .activities__item.activities__item_img-4
                .activities__text-wrapper
                    .activities__item-title Hiking
                    .activities__item-desc We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.
            .activities__item.activities__item_img-5
                .activities__text-wrapper
                    .activities__item-title Trekking
                    .activities__item-desc We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.