header.header
    .header__body
        .header__top-wrapper
            .header__top
                .header__logo
                    +logo
                .header__menu
                    ul.header__items
                        li.header__item
                            a(href="#") Home
                        li.header__item
                            a(href="#") About us
                        li.header__item
                            a(href="#") Shop
                        li.header__item
                            a(href="#") Portfolio
                        li.header__item
                            a(href="#") Blog
                        li.header__item
                            a(href="#") Contact
                .header__menu-mobile
                    include ../mobile-menu/mobile-menu.pug
        .header__bottom
            .header__banner-wrapper
                .header__banner-column.header__banner-column_big
                    img(src="./img/header/header_1.jpg")
                .header__banner-column.header__banner-column_small
                    img(src="./img/header/header_2.jpg")
                    img(src="./img/header/header_3.jpg")
            .header__wrapper-title
                .header__title Perfection. #[div And you are invited.]

                          