section.section-banner
    .section-banner__body
        .section-banner__text-wrapper
            .section-banner__title Winter Weather
            .section-banner__desc We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.
            .section-banner__btn-block
                a.btn-default.btn-blue(href="#") More
