.deluxe {
    &__body {
        @include custom-container;
        padding-top: 100px;
        padding-bottom: 94px;
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__title {
        padding-bottom: 76px;
        text-align: center;
        margin: 0 auto;

        @media (max-width: $sceren-sm-max) {
            width: 100%;
        }

        @media (min-width: $screen-md) {
            width: 60%;
        }
    }

    &__row {
        padding-bottom: 35px;
    }

    &__text {
        overflow: hidden;

        @media (max-width: $screen-s-max)  {
            position: static;
            height: auto;
        }

        @media (min-width: $sceren-sm-max)  {
            position: absolute;
            height: 98px;
        }
    }

    &__title-item {
        line-height: rem(24);
        font-weight: 700;
        letter-spacing: em(0.8);
        color: $black3;
        margin: 5px 0 5px 0;
    }

    &__desc {
        line-height: rem(22);
        font-size: rem(15);
        font-weight: 300;
        letter-spacing: em(0.8);
        color: $black3;
    }

    &__row {
        font-family: 'OpenSans';
        display: flex;

        @media (max-width: $sceren-sm-max) {
            flex-direction: column;
        }

        @media (min-width: $screen-md) {
            justify-content: space-between;
        }
    }

    &__column {
        flex: 0 1 30%;
        
        &_size-sm {
            flex: 0 1 20%;
            display: flex;
            justify-content: space-between;

            @media (max-width: $sceren-sm-max) {
                flex-direction: row;
            }

            @media (min-width: $screen-md) {
                flex-direction: column;
            }

            @media (max-width: $screen-s-max) {
                flex-direction: column;
            }

            .deluxe__item {
                @media (max-width: $sceren-sm-max) and (min-width: $screen-sm) {
                    width: calc((100% - 2 * 20px) / 2);
                }
            }
        }

        &_size-xl {
            @media (max-width: $sceren-sm-max) {
                flex: 0 1 20%;
            }

            @media (min-width: $screen-md) {
                flex: 0 1 50%;
            }
        }

        @media (max-width: $screen-s-max)  {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__item {
        position: relative;

        @media (max-width: $sceren-sm-max)  {
            padding-bottom: 20px;
        }

        @media (min-width: $screen-md)  {
            padding-bottom: 98px;
        }
    }

    &__btn-block {
        text-align: center;
    }
}