section.deluxe
    .deluxe__body
        .deluxe__title
            +section-title('DELUXE ROOMS WITH A BEAUTIFUL VIEW', true)
        .deluxe__row
            .deluxe__column.deluxe__column_size-sm
                .deluxe__item
                    .deluxe__img
                        img(src="../img/deluxe/deluxe_1.jpg", alt="")
                    .deluxe__text
                        .deluxe__title-item Magna pars studiorum
                        .deluxe__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nul id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare leo.
                .deluxe__item
                    .deluxe__img
                        img(src="../img/deluxe/deluxe_2.jpg", alt="")
                    .deluxe__text
                        .deluxe__title-item Magna pars studiorum
                        .deluxe__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nul id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare leo.
            .deluxe__column.deluxe__column_size-xl
                .deluxe__item
                    .deluxe__img
                        img(src="../img/deluxe/deluxe_3.jpg", alt="")
                    .deluxe__text
                        .deluxe__title-item Magna pars studiorum
                        .deluxe__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nul id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare leo.
            .deluxe__column.deluxe__column_size-sm
                .deluxe__item
                    .deluxe__img
                        img(src="../img/deluxe/deluxe_4.jpg", alt="")
                    .deluxe__text
                        .deluxe__title-item Magna pars studiorum
                        .deluxe__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nul id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare leo.
                .deluxe__item
                    .deluxe__img
                        img(src="../img/deluxe/deluxe_5.jpg", alt="")
                    .deluxe__text
                        .deluxe__title-item Magna pars studiorum
                        .deluxe__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nul id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare leo.
        .deluxe__btn-block
            a.btn-default(href="#") More