section.achievements
    .achievements__body
        .achievements__title
            +section-title
        .achievements__items
            .achievements__item            
                +card('./img/achievements/achievements_1.jpg', 'Middle of downtown')
            .achievements__item            
                +card('./img/achievements/achievements_2.jpg', 'Great Environment')
            .achievements__item            
                +card('./img/achievements/achievements_3.jpg', 'Free Breakfast')
            .achievements__item            
                +card('./img/achievements/achievements_4.jpg', 'We Clean Everyday')
            .achievements__item            
                +card('./img/achievements/achievements_5.jpg', 'Enjoy nightlife')
            .achievements__item            
                +card('./img/achievements/achievements_6.jpg', 'Meet New People')
        .achievements__btn-block
            a.btn-default(href="#") More
