extends layouts/default
include helpers/mixins

block variables
	- const title = "Hotel booking"

block content
	include ../blocks/modules/header/header.pug
	include ../blocks/modules/form/form.pug
	include ../blocks/modules/achievements/achievements.pug
	include ../blocks/modules/activities/activities.pug
	include ../blocks/modules/deluxe/deluxe.pug
	include ../blocks/modules/section-banner/section-banner.pug
	include ../blocks/modules/news/news.pug
	include ../blocks/modules/footer/footer.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
