section.form
    .form__body
        form.form__block(action="#")
            .form__input
                input(type="text" placeholder="Arrival")
            .form__input
                input(type="text" placeholder="Departure")
            .form__input
                input(type="text" placeholder="Chosse a Room")
            .form__input
                input(type="text" placeholder="State")
            .form__input
                input(type="submit" value="Book now")
