mixin section-title(text="Award Winning Hotels", mod=false)
    if mod
        .section-title.section-title_big
            .section-title__text=text
    else
        .section-title
            .section-title__text=text