@import "btn-default/btn-default";

@import "header/header";
@import "form/form";
@import "achievements/achievements";
@import "activities/activities";
@import "deluxe/deluxe";
@import "section-banner/section-banner";
@import "news/news";
@import "footer/footer";
