section.news
    .news__body
        .news__title
            +section-title('News From Us', true)
        .news__items
            .news__item
                .news__item-img
                    img(src="./img/news/news_1.jpg", alt="")
                .news__title-item Sedial eiusmod tempor
                .news__desc Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore...
            .news__item
                .news__item-img
                    img(src="./img/news/news_2.jpg", alt="")
                .news__title-item Sedial eiusmod tempor
                .news__desc Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore...
            .news__item
                .news__item-img
                    img(src="./img/news/news_3.jpg", alt="")
                .news__title-item Sedial eiusmod tempor
                .news__desc Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore...
        .news__btn-block
            a.btn-default(href="#") More    
        