mixin card(path='./img/achievements/achievements_1.jpg', title='Middle of downtown', desc='We fill the space content. High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.')
    .card
        .card__image
            img(src=path, alt="")
        .card__title=title
        .card__desc=desc